{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger text-red-500 bg-red-100 border border-red-300 rounded-lg p-4 my-4">
            {{ flash_error }}
        </div>
    {% endfor %}

    <h1 class="text-3xl font-semibold mb-6">Register</h1>

    {{ form_errors(registrationForm) }}

    <form action="{{ path('app_register') }}" method="POST" class="bg-white p-6 rounded-lg shadow-md">
        {{ form_row(registrationForm.firstname, {
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}

        {{ form_row(registrationForm.lastname, {
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}

        {{ form_row(registrationForm.birthdate, {
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}


        {{ form_row(registrationForm.email, {
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}

        {{ form_row(registrationForm.username, {
            'label': 'Username',
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}

        {{ form_row(registrationForm.plainPassword, {
            'label': 'Password',
            'attr': {
                'class': 'w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500'
            }
        }) }}

        {{ form_row(registrationForm.agreeTerms, {
            'attr': {
                'class': 'inline-block text-sm text-gray-700'
            }
        }) }}

        <!-- Manually include the CSRF token -->
        {{ form_row(registrationForm._token) }}

        <button type="submit" class="w-full bg-indigo-600 text-white p-2 rounded">
            Register
        </button>
    </form>
</div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/auth/register.css') }}">
{% endblock %}
