{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1>{{ community.name }}</h1>
            <small>Created by {{ community.creator.username }} on {{ community.createdAt|date('Y-m-d') }}</small>
        </div>
        <div class="card-body">
            <p>{{ community.description }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_create_discussion', {'community': community.id}) }}" class="btn btn-primary">Create Discussion</a>
        </div>
    </div>

    <div class="mt-4">
        <h3>Discussions</h3>
        {% for discussion in community.discussions %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ discussion.title }}</h5>
                    <p class="card-text">{{ discussion.content|slice(0, 200) }}...</p>
                    <small>Posted by {{ discussion.author.username }}</small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}